/*
    One background pixel is 100vw / (48 * 5) = 0.4166666666666667vw
*/
:root {
    --pixel-size: calc(100vw / (48 * 5));
    --row-height: calc(47 * var(--pixel-size));
}

body.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

body {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges; 

    margin: 0;

    width: 100vw;
    height: 100vh;
}

.content {
    background-image: url('images/background.webp');
    background-size: 20vw;
    background-position: calc(var(--pixel-size) * 24) calc(var(--pixel-size) * 12);

    margin: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

@media (prefers-color-scheme: dark) {
    body {
        filter: invert(1) hue-rotate(180deg);
    }

    body.dark-mode {
        filter: none;
    }
}

main {
    padding-top: calc(var(--pixel-size) * 11);
    padding-left: calc(var(--pixel-size) * 23);
    padding-right: calc(var(--pixel-size) * 24);
}

.row {
    width: calc(191 * var(--pixel-size));
    height: var(--row-height);

    padding: var(--pixel-size);
    padding-bottom: 0;
}

.row-box {
    background-repeat: no-repeat;
    background-size: 100%;
    width: calc(191 * var(--pixel-size));
    height: var(--row-height);
}

.row-box.half {
    width: calc(95 * var(--pixel-size));
}

.cart {
    background-image: url('images/full-wide.webp');
}

.cart:hover {
    background-image: url('images/full-wide-hover.webp');
}

.picto-button {
    background-image: url('images/picto-button.webp');
    float: left;
    background-position: left;
}

.picto-button:hover {
    background-image: url('images/picto-hover.webp');
}

.download-button {
    background-image: url('images/download-button.webp');
    float: right;
    background-position: right;
}

.download-button:hover {
    background-image: url('images/download-hover.webp');
}

.footer-button {
    background-size: 100%;
    height: calc(11 * var(--pixel-size));
    width: calc(11 * var(--pixel-size));

    margin: calc(var(--pixel-size) * 6);
    margin-bottom: 0;

    cursor: pointer;
}

.footer-button.light {
    background-image: url('images/light.webp');
    float: left;
}

.footer-button.menu {
    background-image: url('images/menu.webp');
    height: calc(21 * var(--pixel-size));
    width: calc(21 * var(--pixel-size));
    margin: auto;
    margin-top: calc(2 * var(--pixel-size));
}

.footer-button.alarm {
    background-image: url('images/alarm.webp');
    float: right;
}
