/*
    One background pixel is 100vw / (48 * 5) = 0.4166666666666667vw
*/
:root {
    --pixel-size: calc(100vw / (48 * 5));
    --row-height: calc(47 * var(--pixel-size));
}

body {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges; 

    margin: 0;

    background-image: url('images/background.webp');
    background-size: 20vw;
    background-position: calc(var(--pixel-size) * 24) calc(var(--pixel-size) * 12);

    padding-top: calc(var(--pixel-size) * 11);
    padding-left: calc(var(--pixel-size) * 23);
    padding-right: calc(var(--pixel-size) * 24);
}

@media (prefers-color-scheme: dark) {
    :root {
        filter: invert(1) hue-rotate(180deg);
    }
}

.row {
    width: calc(191 * var(--pixel-size));
    height: var(--row-height);

    padding: var(--pixel-size);
    padding-bottom: 0;
}

.row-box {
    background-repeat: no-repeat;
    background-size: 100%;
    width: calc(191 * var(--pixel-size));
    height: var(--row-height);
}

.row-half-box {
    background-repeat: no-repeat;
    background-size: calc(95 * var(--pixel-size));
    width: calc(95 * var(--pixel-size));
    height: var(--row-height);
}

.cart {
    background-image: url('images/full-wide.webp');
}

.cart:hover {
    background-image: url('images/full-wide-hover.webp');
}

.half-button {
    background-image: url('images/picto-button.webp');
}

.half-button.left {
    background-image: url('images/picto-button.webp');
    float: left;
    background-position: left;
}

.half-button.left:hover {
    background-image: url('images/picto-hover.webp');
}

.half-button.right {
    background-image: url('images/download-button.webp');
    float: right;
    background-position: right;
}

.half-button.right:hover {
    background-image: url('images/download-hover.webp');
}
